<h2>Signup</h2>
<form action="/signup" method="POST">
    <label> Username
        <input type="text" name="username" placeholder="Introduzca Username" />
    </label>

    <label> Password
        <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Crear Cuenta</button>
</form>