<div class="container">
    <a href="/" class="back">
        <i class="fas fa-chevron-left"></i>
        Volver
    </a>
    <h2>Search</h2>
    <hr>
    <div class="row my-5">
        {{#each game}}
        <div class="col-6 col-md-4 col-lg-3">
            <a href="/search/{{id}}">
                <div class="card game-card">
                    <img src="{{background_image}}" alt="{{background_image}}">
                    <div class="footer-game-card">
                        <p>{{name}}</p>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>